@use "../variaveis";

.button {
    background-color: transparent;
    color: variaveis.$corTextoSecundario;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    display: block;
    font-size: 18px;
    font-weight: bolder;
    text-decoration: none;
    margin: 16px 0;
    padding: 9px 18px;
    white-space: nowrap;

    &__principal {
        background-color: variaveis.$corBotaoPrincipal;

        &:hover {
            background-color: lighten(variaveis.$corBotaoPrincipal, 15);
        }
    }
}