@use "variaveis";

.hero {
    background-image: url(../images/header_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 220px 0 100px 0;
    text-align: center;

    min-height: 450px;

    @media (max-width: 768px) {
        background-position: center;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__logo {
        width: 250px;
    }

    h2 {
        margin: 16px;
    }

    &__content {
        background-color: rgba(variaveis.$corTextoPricipal, .8);
        color: variaveis.$corTextoSecundario;
        font-size: 32px;
        font-weight: bold;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        width: 50%;
        padding: 16px;

        @media (max-width: 768px) {
            width: 100%;
        }
        @media (max-width: 450px) {
            width: 200px;
            flex-direction: column;
            gap: 16px;
        }
        
        span {
            color: variaveis.$corTextoSecundario;
            font-size: 32px;
            font-weight: bold;
        }


    }
}